export(interest, interest.sequential, InterestResult, getAnnotation, 
	addAnnotation, scaledRetention, nread, interestDf, referencePrepare, 
	readInterestResults, subInterestResult, mergeInterestResult, u12NbIndex, 
	u12Index, exactTestInterest, glmInterest, qlfInterest, treatInterest, 
	eBayesInterest, u12BoxplotNb, u12DensityPlot, u12DensityPlotIntron, lfc, 
	getRepeatTable, u12Boxplot, annotateU12, intexIndex, buildSsTypePwms, 
	updateInterestDfCol)
exportMethods("show", "plot")
import(graphics, grDevices, utils, grid, methods)
importFrom(Biostrings, getSeq, matchPWM, PWM, unitScale, reverseComplement, 
	DNAString)
importFrom(seqinr, read.fasta, getSequence, getFrag)
importFrom(seqLogo, seqLogo)
importFrom(IRanges, IRanges)
importFrom(stats, density, loess.smooth, cor, median, model.matrix)
importFrom(S4Vectors, queryHits, subjectHits)
importFrom(limma, lmFit, eBayes)
importFrom(edgeR, DGEList, estimateDisp, estimateExonGenewiseDisp, exactTest, 
	topTags, estimateGLMTagwiseDisp, estimateGLMTrendedDisp, 
	estimateGLMCommonDisp, glmFit, glmLRT, glmQLFit, glmQLFTest, glmTreat)
importFrom(GenomicFeatures, DEFAULT_CIRC_SEQS, makeTxDbFromUCSC, 
	makeTxDbFromBiomart, makeTxDbFromGFF, exonsBy, transcriptsBy, 
	intronsByTranscript)
importFrom(GenomicRanges, seqnames, start, end, width, strand, ranges, GRanges, 
	findOverlaps, reduce, gaps)
importFrom(Rsamtools, BamFile, ScanBamParam, scanBamFlag, scanBamWhat)
importFrom(DBI, dbConnect, dbSendQuery, dbGetQuery, dbDisconnect)
importFrom(RMySQL, MySQL)
importFrom(foreach, foreach,"%dopar%", "%do%")
importFrom(parallel, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(GenomicAlignments, readGAlignmentPairs, readGAlignmentsList)
